.aboutMeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black .5px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  background: white;
}

.aboutMeBody {
  border: solid black .5px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 500px;
  display: flex;
  background: white;
}

.aboutMeHero {
  border-right: solid black .5px;
  flex: .8;
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: space-between;
}

.aboutMeHeroTop {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-right: 100px;
}

.aboutMeHeroBottom {
  border-top: solid black .5px;
  padding-left: 20px;
}

.aboutMeNumber {
  border: solid black .5px;
  background-color: white;
  max-height: 30px;
  min-width: 30px;
  margin-top: 30px;
  margin-left: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.aboutMeSideBar{
  flex: .4;
  transform: rotate(-45deg);
  transform-origin: top right;
  border-top: 0.5px solid black;
  
}

.aboutMeSideBarNested {
  word-wrap: break-word;
  margin-right: 200px;
  margin-bottom: 200px;
  background: white;
}

.footerLinks {
  display: flex;
  border-left: solid black .5px;
  border-right: solid black .5px;
  border-bottom: solid black .5px;
  margin-left: 10px;
  margin-right: 10px;
}

.footerLinkAboutMe {
  border-right: solid black .5px;
  flex: .2;
  text-align: center;
  color: black;
  text-decoration: none;
}

.footerLinkAboutMe:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footerLinkContact {
  border-right: solid black .5px;
  flex: .2;
  text-align: center;
  color: black;
  text-decoration: none;
}

.footerLinkContact:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footerLinkPortfolio {
  border-right: solid black .5px;
  flex: .2;
  text-align: center;
  color: black;
  text-decoration: none;
}

.footerLinkPortfolio:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footerLinkSkills {
  border-right: solid black .5px;
  flex: .2;
  text-align: center;
  color: black;
  text-decoration: none;
}

.footerLinkSkills:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footerLinkSocial {
  border-right: solid black .5px;
  flex: .2;
  text-align: center;
  color: black;
  text-decoration: none;
}

.footerLinkSocial:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}