.footerNav {
  display: flex;
  border-left: solid black .5px;
  border-right: solid black .5px;
  border-bottom: solid black .5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.footerNavAboutMe {
  border-right: solid black .5px;
  flex: .2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  color: black;
  text-decoration: none;
  
}

.footerNavAboutMe:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footerNavContact {
  border-right: solid black .5px;
  flex: .2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  color: black;
  text-decoration: none;
}

.footerNavContact:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footerNavPortfolio {
  border-right: solid black .5px;
  flex: .2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  color: black;
  text-decoration: none;
}

.footerNavPortfolio:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footerNavSkills {
  border-right: solid black .5px;
  flex: .2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  color: black;
  text-decoration: none;
}

.footerNavSkills:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.footerNavSocial {
  flex: .2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  color: black;
  text-decoration: none;
}

.footerNavSocial:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}