.footerNavOption {
  border-right: solid black .25px;
  border-left: solid black .25px;
  border-bottom: solid black .5px;
  flex: .2;
  height: 20px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
}

.footerNavOption:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}