.menuOptions span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.menuOptions span:before {
  content: '\002F\002F';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.1s;
}

.menuOptions:hover span {
  padding-left: 25px;
}

.menuOptions:hover span:before {
  opacity: 1;
  left: 0;
}