.menuOptions {
  flex: .2;
  font-size: larger;
  
  border: solid black .5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 80vh;
  color: black;
  text-decoration: none;
  background: white;
  transition: .3s;
}

.menuOptions:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px grey);
}