.portfolioHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black .5px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  background: white;
  overflow: hidden;
}

.portfolioHeader > div:nth-child(1) {
  position: relative;
  animation: animate 2.5s;
  animation-fill-mode: backwards;
}

.portfolioHeader > div:nth-child(2) {
  position: relative;
  animation: animate 2.75s;
  animation-fill-mode: backwards;
}

.portfolioHeader > div:nth-child(3) {
  position: relative;
  animation: animate 1.75s;
  animation-fill-mode: backwards;
}

.portfolioHeader > div:nth-child(4) {
  position: relative;
  animation: animate 1.5s;
  animation-fill-mode: backwards;
}

.portfolioHeader > div:nth-child(5) {
  position: relative;
  animation: animate 1s;
  animation-fill-mode: backwards;
}

.portfolioHeader > div:nth-child(6) {
  position: relative;
  animation: animate 1.25s;
  animation-fill-mode: backwards;
}

.portfolioHeader > div:nth-child(7) {
  position: relative;
  animation: animate 2s;
  animation-fill-mode: backwards;
}

.portfolioHeader > div:nth-child(8) {
  position: relative;
  animation: animate 3s;
  animation-fill-mode: backwards;
}

.portfolioHeader > div:nth-child(9) {
  position: relative;
  animation: animate 2.25s;
  animation-fill-mode: backwards;
}



@keyframes animate{
  0%{
    bottom: -100px;
  }
  100%{
    bottom: 0;
  }
}

.portfolioBody {
  border: solid black .5px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 500px;
  display: flex;
  background: white;
}

.portfolioHero {
  border-right: solid black .5px;
  flex: .9;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-right: 100px;
  background: white;
}

.portfolioNumber {
  display: flex;
  align-items: center;
}

.portfolioNumberChild {
  border: solid black .5px;
  background-color: white;
  min-height: 30px;
  min-width: 30px;
  margin-left: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}