.socialHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black .5px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  background: white;
}

@keyframes animate{
  0%{
    bottom: -100px;
  }
  100%{
    bottom: 0;
  }
}

.socialBody {
  border: solid black .5px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 500px;
  display: flex;
  background: white;
}

.socialHero {
  border-right: solid black .5px;
  flex: .9;
  display: flex;
  flex-direction: column;

  padding: 20px;
  background: white;
}

.socialHeroLinkContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
}

img {
  width: 50px;
  height: auto;
}

.socialNumber {
  display: flex;
  align-items: flex-end;
}

.socialNumberChild {
  border: solid black .5px;
  background-color: white;
  min-height: 30px;
  min-width: 30px;
  margin-bottom: 30px;
  margin-left: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}